# Kafka Config
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_TOPIC=crypto_prices

# Producer Config
PRODUCER_INTERVAL_SECONDS=30
PRODUCER_MAX_RETRIES=3

# API Config
API_BASE_URL=https://api.coingecko.com/api/v3
API_ENDPOINT=/coins/markets
API_VS_CURRENCY=usd
API_PER_PAGE=10

# Spark / Streaming Paths
STREAM_OUTPUT_PATH=data/windowed_output
CHECKPOINT_PATH=data/checkpoints

# Logging
LOG_LEVEL=INFO
